@import url('../general/keyframe.css');
@import url('../general/text-highlight.css');
@import url('../general/career.css');
#about {
    width: 80%;
    margin: 20px 10% 20px 10%;
}
#about-intro {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    text-align: center;
    word-wrap: normal;
    animation: focus 1s;
    color: rgb(185, 185, 185);
}