@import url('../general/keyframe.css');
@import url('../general/text-highlight.css');
@import url('../general/variable.css');
#home-intro {
    align-self: center;
    margin: 20px 20% 50px 20%;
}
#home-intro-text {
    overflow: hidden;
    display: inline-block;
    text-align: center;
    white-space: pre-wrap;
    text-overflow: normal;
    font-family: "Courier New", monospace;
    font-size: 3.5em;
    animation: focus 2s;
    color: var(--gray0);
    transition: 0.5s;
}
#home-terminal {
    background-color: transparent;
    align-self: center;
    margin: 20px 10% 50px 10%;
    border-style: solid;
    border-radius: 8px;
    border-width: 15px;
    border-color: var(--black0);
    align-items: center;
    font-size: 0pt;
    font-family: monospace, sans-serif, serif;
    animation: focus 1s;
}
#home-terminal:hover #home-terminal-input {
    background-color: var(--black3);
    transition: background-color 1s;
}
#home-terminal-output {
    outline: none;
    resize: none;
    border: none;
    font-size: 14pt;
    align-self: center;
    width: 100%;
    height: 30em;
    background-color: var(--black2);
    color: var(--gray0);
}
#home-terminal-output::-webkit-scrollbar {
    visibility: hidden;
}
#home-terminal-input {
    outline: none;
    border: none;
    font-size: 14pt;
    width: 100%;
    height: 100%;
    background-color: var(--black2);
    color: var(--gray0);
    transition: 0.5s;
}