@import url('../general/variable.css');
@import url('../general/keyframe.css');
@import url('../general/font.css');
#footer {
    align-self: center;
    clear: both;
    margin: 10px 10%;
}
#foot {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    list-style: none;
    padding: 0 40px;
}
.foot-item {
    margin: 5px;
}
.fa-website {
    display: inline-block;
    text-align: center;
    float: none;
    color: var(--gray0);
    font-size: 15pt;
    font-family: "ReggaeOne", sans-serif;
    transition: 0.5s;
}
.fa-website:hover {
    --color: var(--purple2);
    color: var(--color);
    transition: color 0.5s;
    animation: infinite color-cycle 2s;
}
.fa-github, .fa-linkedin {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: rgb(185, 185, 185);
    transition: 0.5s;
}
.fa-github:hover, .fa-linkedin:hover {
    --color: var(--purple2);
    color: var(--color);
    cursor: pointer;
    transition: color 0.5s;
    animation: infinite color-cycle 2s;
}