@import url('../general/font.css');
@import url('../general/keyframe.css');
@import url('../general/variable.css');
#navigation {
    align-self: center;
}
#navbar {
    margin: 0;
    background-color: black;
    list-style: none;
    padding: 0 40px;
    text-align: center;
    font-family: "ReggaeOne";
}
.nav-item {
    display: inline-block;
    background-color: transparent;
    color: white;
    float: none;
    margin: 0 40px;
    padding: 15px 20px;
    border-radius: 5px;
    transition: 0.5s;
}
.nav-item:hover {
    cursor: pointer;
    background-color: var(--gray1);
    transition: background-color 1s;
}
.nav-item-cur {
    animation: infinite color-cycle 5s;
}
#nav-home:hover, #nav-home.nav-item-cur {
    color: var(--blue0);
    transition: color 0.5s;
}
#nav-about:hover, #nav-about.nav-item-cur {
    color: var(--orange1);
    transition: color 0.5s;
}
#nav-projects:hover, #nav-projects.nav-item-cur {
    color: var(--green1);
    transition: color 0.5s;
}
#nav-contact:hover {
    color: var(--purple3);
    transition: color 0.5s;
}