@import url('./resource/class.css');
@import url('./resource/font.css');
@import url('./resource/variable.css');
#about {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 400px 0 200px 40%;
    justify-content: left;
    align-items: flex-start;
}
#about-title {
    margin-top: 10px;
    font-family: Rock, sans-serif;
    font-size: 55px;
    font-weight: bold;
    color: var(--color2);
}
.about-paragraph {
    margin-top: 15px;
    width: 80%;
    word-wrap: normal;
    font-family: Rock, sans-serif;
    font-size: 20px;
    color: var(--color5);
}
.about-paragraph-preload {
    opacity: 0;
}