@import url('./resource/class.css');
@import url('./resource/variable.css');
@import url('./resource/font.css');
@import url('./resource/keyframe.css');
#footer {
    margin: 0;
    clear: both;
}
#footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
    list-style: none;
    font-size: 15px;
    font-family: Rock, sans-serif;
    color: var(--color5);
}