@import url('./resource/class.css');
@import url('./resource/font.css');
@import url('./resource/variable.css');
@import url('./resource/keyframe.css');
#projects {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 400px 0 200px 20%;
    justify-content: left;
    align-items: flex-start;
}
#projects-title {
    margin-top: 10px;
    font-family: Rock, sans-serif;
    font-size: 55px;
    font-weight: bold;
    color: var(--color2);
}
#projects-container {
    display: flex;
    flex-direction: row;
    margin: 15px 0px;
    height: 500px;
    transition: 0.5s;
}
#projects-list {
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 30%;
    list-style: none;
    color: var(--color5);
}
.projects-list-item {
    margin: 0;
    padding: 7px 10px;
    font-family: Rock, sans-serif;
    font-size: 15px;
    border-radius: 3px;
    transition: 0.7s;
}
.projects-list-item:hover {
    cursor: pointer;
    background-color: var(--color3t);
}
.projects-list-item-active {
    background-color: var(--color4t);
}
#project-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 36px;
    transform: translateY(calc(var(--index) * 35.5px));
    background-color: var(--color2);
    border-radius: 2px;
    transition: 0.25s;
}
#projects-view {
    position: relative;
    float: right;
    margin: 0;
    margin-left: 60px;
    width: 70%;
}
.projects-project {
    animation: load-fade reverse 0.2s;
}
.project-title {
    font-family: Rock, sans-serif;
    font-size: 40px;
    color: var(--color5);
}
.project-stack-container {
    display: flex;
    flex-flow: wrap;
    color: var(--color7);
}
.project-stack-item {
    font-family: Rock, sans-serif;
    font-size: 20px;
    margin: 7px 15px 0 0;
}
.project-desc {
    font-family: Rock, sans-serif;
    font-size: 15px;
    margin: 10px 10px 10px 0;
    padding-left: 30px;
    color: var(--color5);
}
.project-desc::before {
    position: absolute;
    content: '⬢';
    left: 0px;
    color: var(--color2);
}