@import url('./resource/class.css');
@import url('./resource/keyframe.css');
@import url('./resource/variable.css');
#socials {
    position: fixed;
    bottom: 0px;
    left: 40px;
    margin: 0;
    animation: load-fade reverse 0.75s;
}
#socials-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#socials-list::after {
    content: '';
    width: 1px;
    height: 130px;
    background-color: var(--color5);
}
.socials-list-item {
    display: list-item;
    margin-bottom: 15px;
    transition: 0.2s;
}
.socials-list-item:hover {
    cursor: pointer;
    transform: translateY(-5px);
}
.socials-list-item:last-of-type {
    margin-bottom: 20px;
}
.socials-icon {
    width: 30px;
    height: 30px;
    color: var(--color5);
    transition: 0.2s;
}
.socials-icon:hover {
    color: var(--color3);
}