@import url('./resource/variable.css');
@import url('./resource/keyframe.css');
@import url('./resource/font.css');
html {
    scroll-behavior: smooth;
    /*user-select: none;*/
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--color0);
    transition: all 0.9s;
    overflow-x: hidden;
}
*::-webkit-scrollbar {
    overflow: scroll;
    width: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    border-radius: 15px;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color2);
}
#load {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color0);
    animation: load-fade reverse 0.25s;
}
.load-circle {
    margin: 0;
    padding: 0;
    fill: none;
    stroke-width: 20px;
    stroke-linecap: round;
    transition: 0.5s;
}
.load-circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: var(--color6);
    transition: 0.5s;
}
#load-bar {
    --dash: 170%;
    --percent: 0;
    stroke-dasharray: var(--dash);
    stroke-dashoffset: calc(var(--dash) - (var(--dash) * var(--percent)) / 100);
    stroke: var(--color2);
    transition: 0.5s;
}
#load-loading {
    font-family: Rock, sans-serif;
    font-size: 4vmax;
    text-anchor: middle;
    fill: var(--color5);
}
.load-shrink {
    animation: load-circle-grow 0.7s;
}
.load-fade {
    opacity: 0;
    transition: opacity 0.7s;
}