#toolbar {
  position: fixed;
  left: var(--text-mega);
  bottom: 0;
  width: var(--text-mega);
}
.toolbarList {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.toolbarItem {
  color: var(--color-white);
  transition: 0.2s;
  margin: 0.5rem;
  cursor: pointer;
}
.toolbarItem:hover {
  color: var(--color-green);
  transform: translateY(-10%);
}
.line {
  position: relative;
  margin-top: 1rem;
  width: 2px;
  height: 20vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
}
@media screen and (max-width: 800px) {
  #toolbar {
    left: 1vw;
  }
}
