@import url('../general/keyframe.css');
@import url('../core/navigationbar.css');
@import url('../general/variable.css');
.career-flex {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px 10% 20px 10%;
    animation: focus 1s;
}
.career-item {
    font-family: 'Times New Roman', Times, serif;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 20px 30px 20px 30px;
    width: 45%;
    height: fit-content;
    transition: 0.5s;
}
.career-item:hover .career-item-title {
    color: var(--orange0);
    transition: color 1s;
}
.career-item:hover .career-item-sub {
    color: var(--purple1);
    transition: color 1s;
}
.career-item:hover .career-item-desc {
    color: var(--blue1);
    transition: color 1s;
}
.career-item:hover .career-item-flexitem {
    color: var(--blue1);
    transition: color 1s;
}
.career-item-title {
    --color: var(--gray0);
    font-size: 3.5em;
    color: var(--color);
    transition: 0.5s;
}
.career-item-sub {
    --color: var(--gray0);
    font-size: 2em;
    color: var(--color);
    transition: 0.5s;
}
.career-item-desc {
    --color: var(--gray0);
    word-wrap: normal;
    font-size: 1.8em;
    color: var(--color);
    transition: 0.5s;
}
.career-item-flex {
    display: flex;
    flex-wrap: wrap;
}
.career-item-flexitem {
    --color: var(--gray0);
    color: var(--color);
    margin: 7px 10px;
    font-size: 2.5em;
    width: fit-content;
    height: fit-content;
}