@import url('../general/variable.css');
.text-highlight-1 {
    --color: var(--gray0);
    color: var(--color);
    transition: 0.5s;
}
.text-highlight-1:hover {
    color: var(--purple3);
    transition: color 0.5s;
}
.text-highlight-2 {
    --color: var(--gray0);
    color: var(--color);
    transition: 0.5;
}
.text-highlight-2:hover {
    color: var(--orange0);
    transition: color 0.5s;
}