:root {
    --black0: #000000;
    --black1: #1e1e1e;
    --black2: #0f0f0f;
    --black3: #080808;
    --gray0: #b9b9b9;
    --gray1: #262626;
    --orange0: #ffae00;
    --orange1: #ff7c02;
    --green0: #0faf00;
    --green1: #00ff40;
    --purple0: #300041;
    --purple1: #d489ff;
    --purple2: #da7eff;
    --purple3: #9f2aff;
    --purple4: #550072;
    --red0: #ff5555;
    --red1: #ff8383;
    --red2: #ff5959;
    --blue0: #00a9f7;
    --blue1: #8ad0ff;
}