:root {
  --color-black: #0f0f0f;
  --color-black2: #1a1a1a;
  --color-light-black: #1f1f1f;
  --color-gray: #e6e6e6;
  --color-white: #fafafa;
  --color-green: #66ff7d;
  --color-greent: #66ff7d30;
  --color-blue: #6ae1ff;
  --color-bluet: #6ae1ff30;
  --color-orange: #ff7010;
  --color-oranget: #ff701030;
  --color-sun-a: #ff774e;
  --color-sun-b: #ffb834;
  --color-sun-c: #fffc57;
  --color-moon: #56ddff;

  --dark-background: var(--color-black2);
  --dark-text: var(--color-white);
  --dark-accent-a: var(--color-blue);
  --dark-accent-b: var(--color-bluet);

  --light-background: var(--color-gray);
  --light-text: var(--color-black);
  --light-accent-a: var(--color-orange);
  --light-accent-b: var(--color-oranget);

  --theme-background: var(--light-background);
  --theme-text: var(--light-text);
  --theme-accent-a: var(--light-accent-a);
  --theme-accent-b: var(--light-accent-b);

  --text-small: 1.25rem;
  --text-normal: 1.5rem;
  --text-medium-less: 1.625rem;
  --text-medium: 1.875rem;
  --text-large: 2.5rem;
  --text-mega: 3rem;
  --text-mega-giga: 3.5rem;
}
html,
body {
  background-color: var(--theme-background);
  color: var(--theme-text);

  padding: 0;
  margin: 0;
  font-family: monospace;

  transition: 0.25s;
}
::selection {
  background-color: var(--theme-accent-b);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
