:root {
  --color-black: #0f0f0f;
  --color-gray: #838383;
  --color-white: #fafafa;

  --text-small: 1.25rem;
  --text-normal: 1.5rem;
  --text-medium: 1.825rem;
  --text-large: 2.5rem;
  --text-mega: 3rem;
  --text-mega-giga: 3.5rem;
}
html,
body {
  background-color: var(--color-black);
  color: var(--color-white);

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
