@import url('../resource/variable.css');
@import url('../resource/font.css');
@import url('../resource/keyframe.css');
@import url('../resource/class.css');
#navigation {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
#nav-bar {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 30px;
    font-family: 'Rock', sans-serif;
    font-weight: bolder;
    color: var(--color5);
}
.nav-item {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 15px 8px;
    border-radius: 3px;
    transition: 0.5s;
}
.nav-item-page:hover {
    background-color: var(--color6);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s, border-radius 0.5s;
}
.nav-theme {
    width: 1.3em;
    height: 1.3em;
}
.nav-theme:hover {
    cursor: pointer;
    animation: jiggle 0.7s infinite;
}
#nav-theme-dark {
    color: var(--red1);
}
#nav-theme-light {
    color: var(--blue0);
}